#gameWon 
{  
	position: relative;
	background: url(../images/youWin.png);
	width: 480px;  
	height: 400px;	
	display: none;
}
@font-face 
{
	font-family: Spicy Rice;
	src: url("SpicyRice-Regular.otf");
}
p1 
{
	position: relative;
	font-family: Spicy Rice;
	font-size: 2.25em;
	color: #d3ffff;
	text-shadow: -1.25px 0 0 navy, 0 -1.25px 0 navy, 1.25px 0 0 navy, 0 1.25px 0 navy;
}
p
{
	position: relative;
	font-family: Spicy Rice;
	font-size: 1.25em;
    color:#d3ffff;
	text-shadow: -1px 0 0 navy, 0 -1px 0 navy, 1px 0 0 navy, 0 1px 0 navy;
}
body 
{  
	text-align: center;    
	background: #000000;
}
#game 
{  
	position: relative;  
	border-radius: 10px;  
	border: 2px solid #000000;  
	background: url(../images/table.jpg);  
	width: 480px;  
	height: 600px;
	margin: 0 auto;
	box-pack: center;
	box-align: center;
	/*chrome & safari*/
	display: -webkit-box;
	-webkit-box-pack: center; 
	-webkit-box-align: center;	
	/*firefox*/
	display: -moz-box;	
	-moz-box-pack: center; 
	-moz-box-align: center;	
	/*IE*/
	display: -ms-box;
	-ms-box-pack: center; 
	-ms-box-align: center;
	/*opera*/
	display: -o-box;
	-o-box-pack: center; 
	-o-box-align: center;
}
#cards
{
	position: relative;    
	width: 380px;  
	height: 550px;
	/*IE*/
	margin-left: auto;
	margin-right: auto;
}
.card 
{  
	width: 80px;  
	height: 120px;  
	position: absolute;  
	perspective: 600;
	transition: all .3s; 	
	/*chrome & safari*/
	-webkit-perspective: 600; 
	-webkit-transition: all .3s;	
	/*firefox*/
	-moz-perspective: 600;
	-moz-transition: all .3s;	
	/*IE*/
	-ms-perspective: 600;
	-ms-transition: all .3s;
	/*opera*/
	-o-perspective: 600;
	-o-transition: all .3s;
}
.face 
{  
	border-radius: 10px;  
	width: 100%;  
	height: 100%;  
	position: absolute;  
	backface-visibility: hidden;
	/*chrome & safari*/
	-webkit-transition-property: opacity, transform, box-shadow;  
	-webkit-transition-duration: .3s;    
	-webkit-backface-visibility: hidden; 
	/*firefox*/
	-moz-transition-property: opacity, transform, box-shadow;  
	-moz-transition-duration: .3s;
	-moz-backface-visibility: hidden; 
	/*IE*/
	-ms-transition-property: opacity, transform, box-shadow;  
	-ms-transition-duration: .3s;
	-ms-backface-visibility: hidden;
	/*opera*/
	-o-transition-property: opacity, transform, box-shadow;  
	-o-transition-duration: .3s;
	-o-backface-visibility: hidden;	
}
.front 
{    
	background: url(../images/deck.png) 0 -480px;  
	z-index: 10; 
} 
.back 
{  
	background: url(../images/deck.png); 
	transform: rotate3d(0, 1, 0, -180deg);	
	-webkit-transform: rotate3d(0, 1, 0, -180deg);   /*chrome & safari*/  
	-moz-transform: rotate3d(0, 1, 0, -180deg);   /*firefox*/
	-ms-transform: rotate3d(0, 1, 0, -180deg);   /*IE*/
	-o-transform: rotate3d(0, 1, 0, -180deg);   /*opera*/
	z-index: 8; 
} 
.card:hover .face, .card-flipped .face 
{  
	box-shadow: 0 0 10px #aaa;	
	-webkit-box-shadow: 0 0 10px #aaa;   /*chrome & safari*/ 
	-moz-box-shadow: 0 0 10px #aaa;   /*firefox*/
	-ms-box-shadow: 0 0 10px #aaa;   /*IE*/
	-o-box-shadow: 0 0 10px #aaa;   /*opera*/
} 
.card-flipped .front 
{  
	transform: rotate3d(0, 1, 0, 180deg);
	-webkit-transform: rotate3d(0, 1, 0, 180deg);   /*chrome & safari*/  
	-moz-transform: rotate3d(0, 1, 0, 180deg);   /*firefox*/  
	-ms-transform: rotate3d(0, 1, 0, 180deg);   /*IE*/ 
	-o-transform: rotate3d(0, 1, 0, 180deg);   /*opera*/
	z-index: 8; 
} 
.card-flipped .back 
{  
	transform: rotate3d(0, 1, 0, 0deg);
	-webkit-transform: rotate3d(0, 1, 0, 0deg);   /*chrome & safari*/   
	-moz-transform: rotate3d(0, 1, 0, 0deg);   /*firefox*/
	-ms-transform: rotate3d(0, 1, 0, 0deg);   /*IE*/
	-o-transform: rotate3d(0, 1, 0, 0deg);   /*opera*/
	z-index: 10; 
}
.card-removed 
{  
	opacity: 0; 
}
.fluffy {background-position: -80px 0;}
.spike {background-position: -160px 0;}
.squirrel {background-position: -240px 0;}
.monster {background-position: -320px 0;}
.hedgehog {background-position: -400px 0;}
.tiger {background-position: -480px 0;}
.fairy {background-position: -560px 0;}
.bee {background-position: -640px 0;}


/* for background slideshow: (8s between images) ------------------------------------------------------------------------------------------------------------------ */
.cb-slideshow,
.cb-slideshow:after 
{ 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow li span 
{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 48s linear infinite 0s;
    -moz-animation: imageAnimation 48s linear infinite 0s;
    -o-animation: imageAnimation 48s linear infinite 0s;
    -ms-animation: imageAnimation 48s linear infinite 0s;
    animation: imageAnimation 48s linear infinite 0s; 
}
.cb-slideshow li:nth-child(1) span 
{ 
    background-image: url(../images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span 
{ 
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
.cb-slideshow li:nth-child(3) span 
{ 
    background-image: url(../images/3.jpg);
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s; 
}
.cb-slideshow li:nth-child(4) span 
{ 
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(5) span
{ 
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 32s;
    -moz-animation-delay: 32s;
    -o-animation-delay: 32s;
    -ms-animation-delay: 32s;
    animation-delay: 32s; 
}
.cb-slideshow li:nth-child(6) span 
{ 
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s; 
}
.cb-slideshow li:nth-child(2) div 
{ 
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
.cb-slideshow li:nth-child(3) div 
{ 
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s; 
}
.cb-slideshow li:nth-child(4) div
{ 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(5) div 
{ 
    -webkit-animation-delay: 32s;
    -moz-animation-delay: 32s;
    -o-animation-delay: 32s;
    -ms-animation-delay: 32s;
    animation-delay: 32s; 
}
.cb-slideshow li:nth-child(6) div 
{ 
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s; 
}
/* animation for the slideshow images (fade in and out) */
@-webkit-keyframes imageAnimation 
{ 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation 
{ 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation 
{ 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation 
{ 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation 
{ 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span
{
	opacity: 1;
}
/* CSS reset */
div,dl,dt,dd,ul,ol,li,pre,fieldset,td 
{ 
	margin:0;
	padding:0;
}
html 
{
	margin:0;
	padding:0;
}
fieldset,img 
{ 
	border:0;
}
ol,ul 
{
	list-style:none;
}